MONGODB_URI=mongodb+srv://mdsadatrahman03_db_user:fTbHmQ82ht526jN6@cluster0.suyxgdc.mongodb.net/
BETTER_AUTH_SECRET=super-secret-key-change-in-production
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
